<div class="main-content">
    

        <h2>PolicyPartialInfo</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter">
                            <p>policyPartialId</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">ID of the policy</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#integer">integer</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">1</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyPartialName</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">name of the policy</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">policy1</p></td>
                    </tr>
                
                </tbody>
            </table>
    
</div>
