<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{include title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="{{url "/themes/portal/css/bootstrap.min.css"}}" rel="stylesheet" />

		<link href="{{url "/themes/portal/css/bootstrap-responsive.min.css"}}" rel="stylesheet" />
		<link href="{{url "/themes/portal/css/font-awesome.min.css"}}" rel="stylesheet">
		<link href="{{url "/themes/portal/css/font-awesome-ie7.min.css"}}" rel="stylesheet">

		<!--
		<link rel="stylesheet" href="{{url "/themes/portal/css/jslider.css"}}" type="text/css">
		<link rel="stylesheet" href="{{url "/themes/portal/css/jslider.round.plastic.css"}}" type="text/css">
		-->

		<link href="{{url "/themes/portal/css/styles.css"}}" rel="stylesheet" />
		{{css .}}
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="https://entgra.io/assets/logos/favicon.png" type="image/x-icon" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144"
		href="{{url "/themes/portal/img/apple-touch-icon-144-precomposed.png"}}">
		<link rel="apple-touch-icon-precomposed" sizes="114x114"
		href="{{url "/themes/portal/img/apple-touch-icon-114-precomposed.png"}}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72"
		href="{{url "/themes/portal/img/apple-touch-icon-72-precomposed.png"}}">
		<link rel="apple-touch-icon-precomposed" href="{{url "/themes/portal/img/apple-touch-icon-57-precomposed.png"}}">

		{{code .}}
	</head>

	<body>
		{{include navigation}}
		<div class="container">
			{{include header}}
			<div class="row">

				<div class="span12">
					{{include body}}
				</div>

			</div>

		</div>
		<!-- /container -->

		{{js .}}
	</body>
</html>
