<div class="main-content">
    

        <h2>AdminInstall</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter">
                            <p>type</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Download type (either user or roles).</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">user/role</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>typeIds</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">List of Id&#39;s against type (role/user)</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#object">object</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked"></p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>appId</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">App Id</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked"></p></td>
                    </tr>
                
                </tbody>
            </table>
    
</div>
